/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #e8f5ff; /* Background utama untuk tab */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
}

.logo img {
    width: 100px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    right: -290px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #4a90e2;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
}

.sidebar.active {
    right: -15px;
}

.close-btn {
    display: block;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#main-content {
    transition: margin-right 0.3s ease;
    padding: 20px;
}

.content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.banner-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.share-buttons button {
    background-color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.share-buttons img {
    width: 20px;
    margin-right: 10px;
}

/* Video Container */
.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

video {
    width: 100%;
    max-width: 640px;
    border-radius: 10px;
}

.segmen-nav button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.segmen-nav button:hover {
    background-color: #357abd;
}

.profile-pic {
    max-width: 100%;
    height: auto;
}
